/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import 'bootstrap';

$border-color: #ddd;
$blue: #7ED1F4;
$darkblue: #4194B7;
$text-color: #555;
$turquoise: #0DCBA7;
$orange: #FF801C;

html, body, .main2 {
  height: 100%;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.full-height {
  height: 650px;
}

.main {
  margin: 20px auto 0 auto;
  height: 700px;
  position: relative;
}

.conversation {
  border: 1px solid $border-color;
  margin: 5px 0;
  font-size: 40px;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: -1px 1px 1px $border-color;
  text-align: center;
  color: $text-color;
}

.conversation select {
  width: 100%;
  font-size: 20px;
  border: 1px solid $border-color;
  color: $text-color;
}

.conversations-column, .message-log {
  border: 1px solid $border-color;
  height: 100%;
  background-color: white;
  position: relative;
  border-radius: 10px;
}

.messages {
  height: 600px;
}

.message-log {
  overflow: scroll;
  padding: 15px;
}

.inbound, .outbound {
   margin: 5px 0;
}

.inbound {
  text-align: left;
  color: $text-color;
}

.outbound {
  text-align: right;
  color: $darkblue;
}

.inbound span, .outbound span {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.inbound span {
  background-color: $orange;
}

.new-message-alert {
  background-color: red;
  color: white;
}

.outbound span {
  background-color: $turquoise;
}

.chat-form {
  margin-top: 15px;
  bottom: 5px;
  width: 100%;
}

.chat-form input {
  width: 100%;
  padding: 5px;
  border: 1px solid $border-color;
  border-radius: 5px;
  box-shadow: -1px 1px 3px $border-color;
}

.active {
  background: $blue;
  color: white;
  border: 1px solid $blue;
  box-shadow: -1px 1px 3px $darkblue;
}

h5 {
  display: inline-block;
  color: $text-color;
}

.button-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  padding: 10px;
}
.login-button, .logout-button, .new-conversation{
  background: $blue;
  color: white;
  width: 100%;
  margin: 20px 0 0 0;
}

.logout-button {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px 20px;
  color: white
}

.logout-button:hover {
  color: white;
}

.new-conversation {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.login form {
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: 10px;
  box-shadow: -1px 1px 3px $border-color;
}



